<aside>
    <h3>Our Latest News Stories</h3>

    <div class="newsWidget">
        {{#each partials.newsContext}}
        <div>
            <h4>{{heading}}</h4>

            {{body}}
            </a>
        </div>
        {{/each}}

    </div>

</aside>