<h2> Welcome to the Adoption Center of IT Sligo </h2>

{{#if message}}
<h4>
    {{message}}
</h4>
{{/if}}

<style>
    #home {
        font-weight: bold;
    }
</style>

<p>{{> news}}</p>
<p>{{> links data=links}}</p>
<p>{{> legal}}</p>