<ul>
  {{#each personlist}}
    <a class="link" href= /animals/{{this.name}}>
        <li>{{this.name}}</li>
    <a/>
  {{/each}}
</ul>
<style>
    #animalslist {
      font-weight: bold;
    }
  </style>
