<h2>IT Sligo location:</h2>
<iframe
  id="map"
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2329.401402997973!2d-8.463511684425978!3d54.27916631213057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485ee84ef3fb4b37%3A0xc76b5b21d985fb79!2sInstiti%C3%BAid%20Teicneola%C3%ADochta%2C%20Sligeach!5e0!3m2!1sen!2sie!4v1646239476978!5m2!1sen!2sie"
  width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
<style>
  #location {
    font-weight: bold;
  }
</style>